:root {
     --bs-body-font-family: "Noto Sans TC",Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
     --bs-primary-rgb: 171,200,226;
     --bs-link-color: rgb(171, 200, 226);
     --bs-link-hover-color: rgb(171, 200, 226);
    }
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
      font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   
    }
h2 {
      text-transform: uppercase;
    }
.tooltip, .popover, .subheading {
       font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
a{
    text-decoration: none;
}
.social-icons .social-icon:hover {
    background-color: rgb(171, 200, 226);
}
nav{
    background-image:url("../../blu-stripes.png") ;
}
.resume-section{
    background-color: rgb(255, 255, 255);
}
